// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600;700&display=swap");

/* --**VARIABLES CSS**-- */
:root {
    --height: 3rem;

    // colors
    --gradient-color: linear-gradient(90deg, #b24592, #f15f79);
    --btn-color: #c421ae;
    --btn-color-alt: #63054b;
    --title-color: #270335;
    --text-color: #5b5757;
    --body-color: #fff;
    --container-color: #8f8a8a;
    --dark-color: #20262b;
    color: #fff;

    //font and typography

    --body-font: "Raleway", sans-serif;

    --biggest-font-size: 3.5rem;
    --big-font-size: 3rem;
    --huge-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.75rem;

    @media screen and (min-width: 968px) {
        --big-font-size: 4.5rem;
        --biggest-font-size: 6rem;
        --huge-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
    }

    //font weight
    --font-thin: 100;
    --font-normal: 400;
    --font-semi: 600;
    --font-bold: 700;

    //Margin
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    //z-index
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}
/* --**BASIC**-- */

*,
::before,
::after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
}
h1,
h2,
h3,
ul,
p {
    margin: 0;
}
h1,
h2,
h3 {
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}
ul {
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
    //display: block;
}

/* --**CSS CLASS**-- */
.section {
    padding: 4rem 0 2rem;
    &__title {
        font-size: var(--h1-font-size);
        color: var(--title-color);
        font-weight: var(--font-semi);
    }
    &__subtitle {
        display: block;
        font-size: var(--small-font-size);
        margin-bottom: var(--mb-3);
    }
}
.section__title,
.section__subtitle {
    text-align: center;
}

/* --**LAYOUT**-- */
.container {
    max-width: 968px;
    margin: 0 auto;
}
.grid {
    display: grid;
    gap: 1.5rem;
}
.flex {
    display: flex;
    align-items: center;
}
/* --**BUTTONS**-- */
.button {
    display: inline-block;
    background-color: #fff;
    color: var(--title-color);
    padding: 0.75rem 1rem;
    border-radius: 0.3rem;
    white-space: nowrap;

    &--home {
        font-weight: var(--font-semi);
        border-radius: 1.3rem;
        transition: transform 0.3s;
        &:hover {
            transform: translateY(5px);
        }
    }
    &__icon {
        &--home {
            font-size: 1.5rem;
            vertical-align: middle;
            margin-left: 1rem;
        }
    }
}
/* --**Theme-button**-- */
.change-theme {
    color: var(--text-color);
    cursor: pointer;
    font-size: 1rem;
}
/* --**HEADER**-- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background: -webkit-linear-gradient(90deg, #b24592, #f15f79); /* Chrome10+, Safari5.1+ */
    background: -moz-linear-gradient(90deg, #b24592, #f15f79); /* FF3.6+ */
    background: linear-gradient(90deg, #b24592, #f15f79);
    box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
    padding: 0 1rem;
    z-index: var(--z-fixed);
    &__img {
        width: 150px;
        height: 100px;
        border-radius: 50%;
    }
    &__container {
        justify-content: space-between;
    }
    &__logo {
        display: none;
        color: var(--title-color);
    }
    &__search {
        display: flex;
        padding: 0.4rem 0.75rem;
        border-radius: 0.25rem;
    }
    &__input {
        width: 100%;
        border: none;
        background-color: rgba(255, 255, 255, 0.212);
        &::placeholder {
            font-family: var(--body-font);
            color: var(--text-color);
        }
    }
    &__icon,
    &__toggle {
        font-size: 1.2rem;
    }
    &__toggle {
        color: var(--title-color);
        position: relative;
        top: 0;
        right: 16px;
        cursor: pointer;
        margin-left: 1rem;
        & div {
            width: 25px;
            height: 3px;
            background-color: var(--title-color);
            margin: 5px;
            transition: all 0.3s ease;
            border-radius: 1em;
        }
    }
}

/* --**NAV**-- */
.nav {
    position: fixed;
    top: 25%;
    left: -100%;
    min-height: 30vh;
    padding: 1rem 1rem 0;
    background-color: var(--body-color);
    box-shadow: 1px 1px 1px 1px rgba(22, 8, 43, 0.1);
    z-index: var(--z-fixed);
    transition: 0.4s;
    &__container {
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 3rem;
        overflow: hidden;
    }
    &__list {
        row-gap: 2.5rem;
    }
    &__link {
        color: var(--text-color);
        transform: uppercase;
        font-size: var(--h3-font-size);
        &:hover {
            color: var(--title-color);
        }
    }
    &__icon {
        font-size: 1.2rem;
        margin-right: 0.5rem;
    }
    &__name {
        font-size: var(--small-font-size);
        font-weight: var(--font-semi);
        white-space: nowrap;
    }
}
/* --**Animation toggleX*-- */

.toggleX .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggleX .line2 {
    opacity: 0;
}
.toggleX .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
/* --**Show Menu*-- */
.show-menu {
    left: 0;
}

/* --**HOME**-- */
.home {
    background: -webkit-linear-gradient(90deg, #b24592, #f15f79); /* Chrome10+, Safari5.1+ */
    background: -moz-linear-gradient(90deg, #b24592, #f15f79); /* FF3.6+ */
    background: linear-gradient(90deg, #b24592, #f15f79);
    &__container {
        height: calc(100vh - var(--height));
        align-content: center;
    }
    &__img {
        width: 300px;
        justify-self: center;
        border-radius: 25%;
    }
    &__data {
        padding-top: 8rem;
        text-align: center;
        margin-bottom: 3rem;
    }
    &__title {
        padding-top: 5rem;
    }
    &__subtitle {
        margin-bottom: 1rem;
    }
}

/* --**ABOUT**-- */
.about {
    &__data {
        text-align: center;
    }
    &__description {
        margin-bottom: var(--mb-3);
        padding: 0 1.5rem;
    }
    &__img {
        width: 280px;
        justify-self: center;
        border-radius: 1rem;
    }
}

/* --**CAMERA**-- */
.camera {
    &__data {
        text-align: center;
    }
    &__description {
        padding: 0 1.5rem;
    }
    &__img {
        width: 280px;
        justify-self: center;
    }
}

/* --**PICTURES*-- */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;

    &-item {
        text-align: center;
        height: 40vh;
        flex-grow: 1;
        &:last-child {
            flex-grow: 10;
        }
    }
    &-img {
        max-height: 100%;
        max-width: 300px;
        object-fit: cover;
        vertical-align: bottom;
        cursor: pointer;
    }
}

// Portrait

@media (max-aspect-ratio: 1/1) {
    .gallery-item {
        height: 30vh;
    }
}

// Short screens

@media (max-height: 480px) {
    .gallery-item {
        height: 80vh;
    }
}

// Smaller screens in portrait

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    .gallery {
        flex-direction: row;

        &-item {
            height: auto;
            width: 100%;
        }
        &-img {
            width: 100%;
            max-height: 75vh;
            min-width: 0;
            margin-bottom: 3rem;
        }
    }
}
/* --**Gallery**-- */
.gallery-img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        opacity: 0.7;
    }
}
/* --**Modal-background**-- */
.modal {
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

/* --**Modal-content(img)*-- */
.modal-content {
    margin: auto;
    display: block;
    width: 85%;
    max-width: 1444px;
    position: relative;
    top: 150px;
}

/* --**Animation- Zoom in the Modal-- */

.modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
/* --**Close btn-- */
.close {
    position: absolute;
    top: 155px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* --**OPINION*-- */
.opinion {
    padding: unset;
    background: -webkit-linear-gradient(90deg, #b24592, #f15f79); /* Chrome10+, Safari5.1+ */
    background: -moz-linear-gradient(90deg, #b24592, #f15f79); /* FF3.6+ */
    background: linear-gradient(90deg, #b24592, #f15f79);
    &__container {
        padding: 1.5rem;
    }
    &__data,
    &__header {
        display: flex;
    }
    &__data {
        justify-content: space-between;
        margin-bottom: var(--mb-1);
    }
    &__img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 0.5rem;
    }
    &__name {
        font-size: var(--h3-font-size);
        font-weight: var(--font-semi);
    }
    &__client {
        font-size: var(--small-font-size);
        color: var(--text-color);
    }
    &__description {
        margin-bottom: var(--mb-2);
        color: #fff;
    }
    &__icon-star {
        color: yellow;
    }
}
/* --**Swiper*-- */
.swiper-pagination-bullet-active {
    background-color: var(--title-color);
}

/* --**CONTACT*-- */
.contact {
    &__img {
        order: -1;
        width: 300px;
        justify-self: center;
        border-radius: 25%;
    }
}
/* --**Form*-- */
.form {
    background-color: var(--title-color);
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    .field .input-area {
        position: relative;
    }
    & input {
        height: var(--height);
        width: 100%;
        max-width: 300px;
        padding: 0 1rem;
        border: 1px solid gray;
        font-size: var(--normal-font-size);
        border-radius: 0.225rem;
        &::placeholder {
            font-weight: var(--font-semi);
        }
        &[type="submit"] {
            width: 150px;
            margin-top: var(--mb-2);
            border: none;
            background: var(--btn-color);
            color: #fff;
            cursor: pointer;
            transition: background 0.2s ease;
            margin-bottom: var(--mb-1);
            text-transform: uppercase;
            &:hover {
                background: var(--btn-color-alt);
            }
        }
    }
    .field {
        width: 100%;
        margin-bottom: 1rem;

        & i {
            position: absolute;
            top: 50%;
            font-size: 1.25rem;
            pointer-events: none;
            transform: translateY(-50%);
        }
        .error {
            display: none;
            &--icon {
                right: 15px;
                color: #dc3545;
            }
            &-text {
                color: #dc3545;
                text-align: right;
                margin-top: 0.5rem;
            }
        }
        &.shake {
            animation: shake 0.3s ease-in-out;
        }
    }
}
.form .field.error .error {
    display: block;
}
.form .field.error input {
    border-color: #dc3545;
}
@keyframes shake {
    0%,
    100% {
        margin-left: 0;
    }
    20%,
    80% {
        margin-left: -12px;
    }
    40%,
    60% {
        margin-left: 12px;
    }
}
.agree {
    color: var(--text-color-alt);
    font-size: var(--small-font-size);
    text-align: center;
    &--term {
        color: #dc3545;
        font-weight: var(--font-semi);
    }
}

/* --**FOOTER**-- */
.footer {
    background-color: rgb(10, 10, 10);
    padding: unset;
    &__container {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        row-gap: 2rem;
        padding: 0 1.5rem;
        justify-content: center;
    }
    &__logo {
        color: var(--btn-color);
        font-size: var(--h3-font-size);
        font-weight: var(--font-semi);
    }
    &__description {
        display: block;
        font-size: var(--small-font-size);
        color: #fff;
        margin: 0.25rem 0 var(--mb-3);
    }
    &__title {
        font-size: var(--h2-font-size);
        color: #fff;
        margin-bottom: var(--mb-2);
    }
    &__link {
        display: inline-block;
        color: #fff;
        margin-bottom: var(--mb-2);
        &:hover {
            color: var(--btn-color-alt);
        }
    }
}
/* --**sVG waves**-- */
.wave {
    & path {
        stroke: none;
        fill: var(--body-color);
    }
}

/* --**SOCIAL ICONS**-- */
.social-toggle {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    & li {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        cursor: pointer;
        margin: 8px;
    }
}
.icon1 {
    background-color: var(--text-color);
    position: relative;
    z-index: 4;
}
.icon2 .bxl-instagram {
    color: #d91e85;
    transition: transform 1.2s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: 3;
}
.icon3 .bxl-google {
    color: #db4437;
    transition: transform 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0.4s;
    z-index: 2;
}
.icon4 .bxl-twitter {
    color: #00acee;
    transition: transform 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    z-index: 1;
}
.icon5 .bxl-facebook {
    color: #0d49ca;
    transition: transform 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    z-index: 1;
}
.mov-icon {
    position: absolute;
    top: -200px;
    opacity: 0;
}
.active .icon2 {
    transform: translateX(calc(54px + 30px));
    transition: transform 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    box-shadow: #000 0px 0px 10px;
}
.active .icon3 {
    transform: translateX(calc(-54px + -30px));
    transition: transform 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    box-shadow: #000 0px 0px 10px;
}
.active .icon4 {
    transform: translateY(calc(54px + 30px));
    transition: transform 1.2s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow: #000 0px 0px 10px;
}
.active .icon5 {
    transform: translateY(calc(-54px + -30px));
    transition: transform 1.2s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow: #000 0px 0px 10px;
}
.social-object {
    position: fixed;
    right: -2.5rem;
    bottom: -100px;

    margin: auto;
    width: calc(54px * 4 + 30px * 3);
    height: 54px;
}
.menu-object .icon1::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 4px;
    height: 24px;
    margin: auto;
    background-color: #111;
    transition: trnsform 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}
.icon-social {
    font-size: 1.75rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &--base {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.show-icon {
    bottom: 200px;
}
.showOpacity {
    opacity: 1;
}
/* --**MEDIA QUERIES**-- */

@media screen and (max-width: 575px) {
    .header__search {
        display: none;
    }
}
@media screen and (min-width: 576px) {
    .home__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .home__data {
        padding-top: unset;
    }

    .about__img {
        width: 380px;
    }
}

@media screen and (min-width: 768px) {
    // body {
    //     // padding: 1rem 3rem 0 6rem;
    // }
    .header {
        padding: 0 3rem 0 6rem;
        &__container {
            height: calc(var(--height) + 0.5rem);
        }
        &__search {
            width: 300px;
            padding: 0.5rem 0.75rem;
        }
        &__toggle {
            display: none;
        }
        &__logo {
            display: block;
            font-weight: var(--font-bold);
            &:hover {
                color: #fff;
            }
        }
        &__img {
            order: 1;
            margin-top: 4.5rem;
            width: 250px;
            height: 150px;
        }
    }

    .nav {
        left: 0;
        padding: 1.2rem 1.5rem 0;
        border-radius: 1rem;
        &__menu {
            width: 20px;

            &:hover {
                width: 120px;
                transition: 0.3s;
            }
        }
        &__items {
            row-gap: 1.7rem;
        }
        &__icon {
            font-size: 1.3rem;
        }
        &__name {
            opacity: 0;
            transition: 0.3s;
        }
        &:hover &__name {
            opacity: 1;
        }
    }
    .home {
        &__img {
            width: 500px;
        }
    }
    .about__img {
        width: 480px;
    }

    .modal-content {
        position: unset;
        top: unset;
    }
    .close {
        top: 205px;
    }
}
