@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600;700&display=swap");
/* --**VARIABLES CSS**-- */
:root {
  --height: 3rem;
  --gradient-color: linear-gradient(90deg, #b24592, #f15f79);
  --btn-color: #c421ae;
  --btn-color-alt: #63054b;
  --title-color: #270335;
  --text-color: #5b5757;
  --body-color: #fff;
  --container-color: #8f8a8a;
  --body-font: "Raleway", sans-serif;
  --biggest-font-size: 3.5rem;
  --big-font-size: 3rem;
  --huge-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.75rem;
  --font-thin: 100;
  --font-normal: 400;
  --font-semi: 600;
  --font-bold: 700;
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 4.5rem;
    --biggest-font-size: 6rem;
    --huge-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/* --**BASIC**-- */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* --**CSS CLASS**-- */
.section {
  padding: 4rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* --**LAYOUT**-- */
.container {
  max-width: 968px;
  margin: 0 auto;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* --**BUTTONS**-- */
.button {
  display: inline-block;
  background-color: #fff;
  color: var(--title-color);
  padding: 0.75rem 1rem;
  border-radius: 0.3rem;
  white-space: nowrap;
}

.button--home {
  font-weight: var(--font-semi);
  border-radius: 1.3rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.button--home:hover {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.button__icon--home {
  font-size: 1.5rem;
  vertical-align: middle;
  margin-left: 1rem;
}

/* --**HEADER**-- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* Chrome10+, Safari5.1+ */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, from(#b24592), to(#f15f79));
  background: linear-gradient(90deg, #b24592, #f15f79);
  -webkit-box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
          box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
  padding: 0 1rem;
  z-index: var(--z-fixed);
}

.header__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.header__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: none;
  color: var(--title-color);
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.4rem 0.75rem;
  border-radius: 0.25rem;
}

.header__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.212);
}

.header__input::-webkit-input-placeholder {
  font-family: var(--body-font);
  color: var(--text-color);
}

.header__input:-ms-input-placeholder {
  font-family: var(--body-font);
  color: var(--text-color);
}

.header__input::-ms-input-placeholder {
  font-family: var(--body-font);
  color: var(--text-color);
}

.header__input::placeholder {
  font-family: var(--body-font);
  color: var(--text-color);
}

.header__icon, .header__toggle {
  font-size: 1.2rem;
}

.header__toggle {
  color: var(--title-color);
  position: relative;
  top: 0;
  right: 16px;
  cursor: pointer;
  margin-left: 1rem;
}

.header__toggle div {
  width: 25px;
  height: 3px;
  background-color: var(--title-color);
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 1em;
}

/* --**NAV**-- */
.nav {
  position: fixed;
  top: 25%;
  left: -100%;
  min-height: 30vh;
  padding: 1rem 1rem 0;
  background-color: var(--body-color);
  -webkit-box-shadow: 1px 1px 1px 1px rgba(22, 8, 43, 0.1);
          box-shadow: 1px 1px 1px 1px rgba(22, 8, 43, 0.1);
  z-index: var(--z-fixed);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav__container {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 3rem;
  overflow: hidden;
}

.nav__list {
  row-gap: 2.5rem;
}

.nav__link {
  color: var(--text-color);
  -webkit-transform: uppercase;
          transform: uppercase;
  font-size: var(--h3-font-size);
}

.nav__link:hover {
  color: var(--title-color);
}

.nav__icon {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.nav__name {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi);
  white-space: nowrap;
}

/* --**Animation toggleX*-- */
.toggleX .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggleX .line2 {
  opacity: 0;
}

.toggleX .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

/* --**Show Menu*-- */
.show-menu {
  left: 0;
}

/* --**HOME**-- */
.home {
  /* Chrome10+, Safari5.1+ */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, from(#b24592), to(#f15f79));
  background: linear-gradient(90deg, #b24592, #f15f79);
}

.home__container {
  height: calc(100vh - var(--height));
  -ms-flex-line-pack: center;
      align-content: center;
}

.home__img {
  width: 300px;
  -ms-grid-column-align: center;
      justify-self: center;
  border-radius: 25%;
}

.home__data {
  padding-top: 8rem;
  text-align: center;
  margin-bottom: 3rem;
}

.home__title {
  padding-top: 5rem;
}

.home__subtitle {
  margin-bottom: 1rem;
}

.wave {
  background: var(--body-color);
}

/* --**ABOUT**-- */
.about__data {
  text-align: center;
}

.about__description {
  margin-bottom: var(--mb-3);
  padding: 0 1.5rem;
}

.about__img {
  width: 280px;
  -ms-grid-column-align: center;
      justify-self: center;
}

/* --**CAMERA**-- */
.camera__data {
  text-align: center;
}

.camera__description {
  padding: 0 1.5rem;
}

.camera__img {
  width: 280px;
  -ms-grid-column-align: center;
      justify-self: center;
}

/* --**PICTURES*-- */
.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.gallery-item {
  text-align: center;
  height: 40vh;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.gallery-item:last-child {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
}

.gallery-img {
  max-height: 100%;
  max-width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
  cursor: pointer;
}

@media (max-aspect-ratio: 1 / 1) {
  .gallery-item {
    height: 30vh;
  }
}

@media (max-height: 480px) {
  .gallery-item {
    height: 80vh;
  }
}

@media (max-aspect-ratio: 1 / 1) and (max-width: 480px) {
  .gallery {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .gallery-item {
    height: auto;
    width: 100%;
  }
  .gallery-img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
    margin-bottom: 3rem;
  }
}

/* --**Gallery**-- */
.gallery-img {
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.gallery-img:hover {
  opacity: 0.7;
}

/* --**Modal-background**-- */
.modal {
  display: none;
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
}

/* --**Modal-content(img)*-- */
.modal-content {
  margin: auto;
  display: block;
  width: 85%;
  max-width: 1444px;
  position: relative;
  top: 150px;
}

/* --**Animation- Zoom in the Modal-- */
.modal-content {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* --**Close btn-- */
.close {
  position: absolute;
  top: 155px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* --**OPINION*-- */
.opinion {
  padding: unset;
  /* Chrome10+, Safari5.1+ */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, from(#b24592), to(#f15f79));
  background: linear-gradient(90deg, #b24592, #f15f79);
}

.opinion__container {
  padding: 1.5rem;
}

.opinion__data, .opinion__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.opinion__data {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: var(--mb-1);
}

.opinion__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.opinion__name {
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi);
}

.opinion__client {
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.opinion__description {
  margin-bottom: var(--mb-2);
  color: #fff;
}

.opinion__icon-star {
  color: yellow;
}

/* --**Swiper*-- */
.swiper-pagination-bullet-active {
  background-color: var(--title-color);
}

/* --**CONTACT*-- */
.contact__img {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  width: 300px;
  -ms-grid-column-align: center;
      justify-self: center;
}

/* --**Form*-- */
.form {
  background-color: var(--title-color);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
}

.form .field .input-area {
  position: relative;
}

.form input {
  height: var(--height);
  width: 100%;
  padding: 0 1rem;
  border: 1px solid gray;
  font-size: var(--normal-font-size);
  border-radius: 0.225rem;
}

.form input::-webkit-input-placeholder {
  font-weight: var(--font-semi);
}

.form input:-ms-input-placeholder {
  font-weight: var(--font-semi);
}

.form input::-ms-input-placeholder {
  font-weight: var(--font-semi);
}

.form input::placeholder {
  font-weight: var(--font-semi);
}

.form input[type="submit"] {
  width: 50%;
  margin-top: var(--mb-2);
  border: none;
  background: var(--btn-color);
  color: #fff;
  cursor: pointer;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  margin-bottom: var(--mb-1);
  text-transform: uppercase;
}

.form input[type="submit"]:hover {
  background: var(--btn-color-alt);
}

.form .field {
  width: 100%;
  margin-bottom: 1rem;
}

.form .field i {
  position: absolute;
  top: 50%;
  font-size: 1.25rem;
  pointer-events: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form .field .error {
  display: none;
}

.form .field .error--icon {
  right: 15px;
  color: #dc3545;
}

.form .field .error-text {
  color: #dc3545;
  text-align: right;
  margin-top: 0.5rem;
}

.form .field.shake {
  -webkit-animation: shake 0.3s ease-in-out;
          animation: shake 0.3s ease-in-out;
}

.form .field.error .error {
  display: block;
}

.form .field.error input {
  border-color: #dc3545;
}

@-webkit-keyframes shake {
  0%,
  100% {
    margin-left: 0;
  }
  20%,
  80% {
    margin-left: -12px;
  }
  40%,
  60% {
    margin-left: 12px;
  }
}

@keyframes shake {
  0%,
  100% {
    margin-left: 0;
  }
  20%,
  80% {
    margin-left: -12px;
  }
  40%,
  60% {
    margin-left: 12px;
  }
}

.agree {
  color: var(--text-color-alt);
  font-size: var(--small-font-size);
  text-align: center;
}

.agree--term {
  color: #dc3545;
  font-weight: var(--font-semi);
}

/* --**FOOTER**-- */
/* --**MEDIA QUERIES**-- */
@media screen and (min-width: 768px) {
  .header {
    padding: 0 3rem 0 6rem;
  }
  .header__container {
    height: calc(var(--height) + 0.5rem);
  }
  .header__search {
    width: 300px;
    padding: 0.5rem 0.75rem;
  }
  .header__toggle {
    display: none;
  }
  .header__logo {
    display: block;
    font-weight: var(--font-bold);
  }
  .header__logo:hover {
    color: #fff;
  }
  .header__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 4.5rem;
  }
  .nav {
    left: 0;
    padding: 1.2rem 1.5rem 0;
    border-radius: 1rem;
  }
  .nav__menu {
    width: 20px;
  }
  .nav__menu:hover {
    width: 120px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .nav__items {
    row-gap: 1.7rem;
  }
  .nav__icon {
    font-size: 1.3rem;
  }
  .nav__name {
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .nav:hover .nav__name {
    opacity: 1;
  }
  .modal-content {
    position: unset;
    top: unset;
  }
  .close {
    top: 205px;
  }
}
/*# sourceMappingURL=style.css.map */