// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600;700&display=swap");

/* --**VARIABLES CSS**-- */
:root {
    --height: 3rem;

    // colors
    --gradient-color: linear-gradient(90deg, #b24592, #f15f79);
    --btn-color: #c421ae;
    --btn-color-alt: #63054b;
    --title-color: #270335;
    --text-color: #5b5757;
    --body-color: #fff;
    --container-color: #8f8a8a;

    //font and typography

    --body-font: "Raleway", sans-serif;

    --biggest-font-size: 3.5rem;
    --big-font-size: 3rem;
    --huge-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.75rem;

    @media screen and (min-width: 968px) {
        --big-font-size: 4.5rem;
        --biggest-font-size: 6rem;
        --huge-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
    }

    //font weight
    --font-thin: 100;
    --font-normal: 400;
    --font-semi: 600;
    --font-bold: 700;

    //Margin
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    //z-index
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}
/* --**BASIC**-- */

*,
::before,
::after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
}
h1,
h2,
h3,
ul,
p {
    margin: 0;
}
h1,
h2,
h3 {
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}
ul {
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
    //display: block;
}

/* --**CSS CLASS**-- */
.section {
    padding: 4rem 0 2rem;
    &__title {
        font-size: var(--h1-font-size);
    }
    &__subtitle {
        display: block;
        font-size: var(--small-font-size);
        margin-bottom: var(--mb-3);
    }
}
.section__title,
.section__subtitle {
    text-align: center;
}

/* --**LAYOUT**-- */
.container {
    max-width: 968px;
    margin: 0 auto;
}
.grid {
    display: grid;
    gap: 1.5rem;
}
.flex {
    display: flex;
    align-items: center;
}
/* --**HEADER**-- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background: -webkit-linear-gradient(90deg, #b24592, #f15f79); /* Chrome10+, Safari5.1+ */
    background: -moz-linear-gradient(90deg, #b24592, #f15f79); /* FF3.6+ */
    background: linear-gradient(90deg, #b24592, #f15f79);
    box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
    padding: 0 1rem;
    z-index: var(--z-fixed);
    &__img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    &__container {
        justify-content: space-between;
    }
    &__logo {
        display: none;
        color: var(--title-color);
    }
    &__search {
        display: flex;
        padding: 0.4rem 0.75rem;
        border-radius: 0.25rem;
    }
    &__input {
        width: 100%;
        border: none;
        background-color: rgba(255, 255, 255, 0.212);
        &::placeholder {
            font-family: var(--body-font);
            color: var(--text-color);
        }
    }
    &__icon,
    &__toggle {
        font-size: 1.2rem;
    }
    &__toggle {
        color: var(--title-color);
        cursor: pointer;
    }
}

/* --**NAV**-- */

/* --**Show Menu*-- */

/* --**HOME**-- */

/* --**BUTTONS**-- */
/* --**ABOUT**-- */
/* --**Me*-- */
/* --**CAMERA*-- */
/* --**LATEST WORK*-- */
/* --**OPINION*-- */
/* --**CONTACT*-- */
/* --**FOOTER**-- */

/* --**MEDIA QUERIES**-- */
